{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>
    {% block css %}
    {% endblock css %}
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>

            {% if user.is_authenticated %}
                <!-- Show when logged in -->
                <li><a href="{% url 'upload_resume' %}">Upload Resume</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <!-- Show when not logged in -->
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main> 
    <footer>
        <div class="footer-container">
            <p>&copy; 2025 Job Portal. All rights reserved.</p>
        </div>
    </footer>
    {% block scripts %}{% endblock %}

    
</body>
</html>

